<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presentations</title>
  </head>
  <body style="font-family: Fira Code, Consolas, monospace">
    <h1>Presentations</h1>
    <% Object.keys(presentations).forEach((presentation) => { %>
    <a href="/<%= presentation %>"><%= presentation %></a>
    <% }); %>
  </body>
</html>
